@media screen and (min-width:320px) and max-width:480px;) {
.layout-slideshow2 .sprocket-features-img-list {
 height: 320px;
}
.layout-slideshow2 .sprocket-features-content {
 bottom:none !important;
 top:120px;
 max-height:386px;
 width:auto !important;
}
.layout-slideshow2 .sprocket-features-padding {
 padding: 0 5px 25px 5px !important;
}

.layout-slideshow2 .sprocket-features-title, .layout-slideshow2 .sprocket-features-desc {
 background-color:transparent !important;
}

sprocket-features-arrows {
 bottom:85px;
 position: relative !important;
}
}
/*
     FILE ARCHIVED ON 21:44:19 Oct 28, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:21:26 Aug 26, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 171.399
  exclusion.robots: 0.115
  exclusion.robots.policy: 0.107
  RedisCDXSource: 1.811
  esindex: 0.009
  LoadShardBlock: 146.286 (3)
  PetaboxLoader3.datanode: 198.688 (4)
  CDXLines.iter: 20.623 (3)
  load_resource: 150.365
  PetaboxLoader3.resolve: 54.025
*/